@include aoa-bg-series($section__classes,$section__images);

.about,.services{
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply;
    }
}
.comingsoon,.error,.privacy{
    &-s1{
        background-blend-mode: multiply;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #666!important;
            background-blend-mode: multiply;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .index,.contact,.services{
        &-s1{
            *{
                color: #fff !important;
            }
            background-color: #666!important;
            background-blend-mode: multiply;
        }
    }
    .navbar{
        &-nav{
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px;
        }
    }
}